# Ambientes virtuais (Python virtual environments)
.venv/
venv/
ENV/
env/

# Caches do Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Banco de dados local do SQLite (ajuste o nome se o seu for diferente)
*.db
*.sqlite3

# Configurações do VS Code e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de variáveis de ambiente (onde vamos esconder o token depois)
.env